<!DOCTYPE html>
<html>

<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-T23WPNV');</script>
	<!-- End Google Tag Manager -->
		
		<!-- Meta Sheet Starts Here -->

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatble" content="ie=edge" />
	<title>Sign Up As a Member</title>
	<link href="../images/favicon.png" rel="icon" />
	<link href="../images/favicon.ico" rel="shortcut icon" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../fonts/fonts.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../css/lightcase.css" rel="stylesheet" type="text/css" />
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/night-mode.css" rel="stylesheet" type="text/css" />
	<link href="../css/responsive.css" rel="stylesheet" type="text/css" />
</head>
		<!-- Meta Sheet Ends Here -->


<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T23WPNV"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<!-- Main Header Starts Here -->
	<header class="main_header">
		<nav class="navbar navbar-expand-sm navbar-dark topbar align-items-center">
			
			<div class="main_logo_for_mobile ml-auto">
				<a href="/"><img src="../images/gabazzo_logo_white.png" alt="" /></a>
			</div>
			<ul class="navbar-nav mx-auto mr-sm-0 align-items-center text-center flex-row">
				<li class="night_mode_image"><a href="javascript:void(0)" class="night_mode_icon"></a></li>
			</ul>
		</nav>
		<nav class="navbar navbar-expand-lg navbar-light middlebar">
			<a class="navbar-brand main_logo_for_desktop text-dark" href="/" target="_self">
				<img src="../images/gabazzo_logo_black.png" class="img-fluid gabazzo_logo black_logo" alt="" />
				<img src="../images/gabazzo_logo_white.png" class="img-fluid gabazzo_logo white_logo" alt="" />
			</a>

			<div class="services_menu_bar">
				<button class="navbar-toggler services_responsive_bar border-0" type="button" data-toggle="collapse"
					data-target="#responsive-bar">
					<div class="animated-icon1"><span></span><span></span><span></span> <b class="">Services</b></div>
				</button>
			</div>

			<div class="members_menu_bar">
				<ul class="navbar-nav mr-sm-0 align-items-center text-center flex-row">
					<li>
						<button class="navbar-togglerr" type="button" data-toggle="collapse" data-target="#navb">
							<div class="animated-icon2"><span></span><span></span><span></span></div>
						</button>
					</li>
				</ul>
			</div>

			<div class="collapse nav_item_wrap navbar-collapse" id="navb">
				<form class="form-inline mr-auto main_search_bar_desktop">
					<div class="search_bar">
						<input type="search" placeholder="Search...." />
						<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
				</form>

				<ul class="navbar-nav member_menu_portion_for_desktop ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/become-a-seller-overview">Become a Seller</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Sign In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link btn btn-outline-gbz-success join_butotn" href="/sign-up">Join</a>
					</li>
				</ul>
			</div>
		</nav>

		<nav class="navbar main_navbar navbar-expand-lg bottombar">
			<div class="collapse nav_item_wrap navbar-collapse" id="responsive-bar">
				<ul class="nav navbar-nav">
					<li class="nav-item dropdown mega-dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Outdoor
							Work</a>
						<div class="dropdown-menu mega-dropdown-menu shadow">
							<div class="container">
								<h5 class="footer-title text-dark text-center">Outdoor Work</h5>
								<ul class="row link_with_image list-unstyled text-center">
									<li class="col-md-2">
										<img src="../images/outdoor-work/Roofing.jpg" alt="" class="img-fluid mb-2" />
										<p><a href="../new-visitors/roofing-services.html">Roofing Services</a></p>
									</li>
									<li class="col-md-2">
										<img src="../images/outdoor-work/landscaping.jpg" alt=""
											class="img-fluid mb-2" />
										<p><a href="../new-visitors/landscaping-services.html">Landscaping Services</a>
										</p>
									</li>
									 
									 
									<li class="col-md-2">
										<img src="../images/outdoor-work/junk_removal_services.jpg" alt=""
											class="img-fluid mb-2" />
										<p><a href="../new-visitors/junk-removal-services.html">Junk Removal</a></p>
									</li>
									 
								</ul>
								<hr class="mb-4" />
								<h5 class="footer-title text-dark text-center">More in Outdoor Work</h5>
								<ul class="row menu_bottom_links">
									<li class="col-md-2 single_list">
										<ul>
											<li><a href="../new-visitors/exterior-painting.html">Exterior Painting</a>
											</li>
											<li><a href="../new-visitors/garage-services.html">Garage Services</a></li>
											<li><a href="../new-visitors/pools-hot-tubes-spas.html">Pools, Spas, and Hot
													Tubs</a></li>
											<li><a href="../new-visitors/masonry-services.html">Masonry Services</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown mega-dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Indoor
							Work</a>
						<div class="dropdown-menu mega-dropdown-menu shadow">
							<div class="container">
								<h5 class="footer-title text-dark text-center">Indoor Works</h5>
								<ul class="row link_with_image list-unstyled justify-content-center text-center">
									<li class="col-md-2">
										<img src="../images/indoor-work/Plumbing Services.jpg" alt=""
											class="img-fluid mb-2" />
										<p><a href="../new-visitors/plumbing-services.html">Plumbing Services</a></p>
									</li>
									<li class="col-md-2">
										<img src="../images/indoor-work/HVAC Services.jpg" alt=""
											class="img-fluid mb-2" />
										<p><a href="../new-visitors/hvac-services.html">HVAC Services</a></p>
									</li>
								 
									<li class="col-md-2">
										<img src="../images/indoor-work/Pest Control Services.jpg" alt=""
											class="img-fluid mb-2" />
										<p><a href="../new-visitors/pest-control.html">Pest Control</a></p>
									</li>
									 
									<li class="col-md-2">
										<img src="../images/indoor-work/Painting Services.jpg" alt=""
											class="img-fluid mb-2" />
										<p><a href="../new-visitors/interior-painting.html">Painting Services</a></p>
									</li>
								</ul>
								<hr class="mb-4" />
								<h5 class="footer-title text-dark text-center">More in Indoor Works</h5>
								<ul class="row menu_bottom_links">
									<li class="col-md-2 single_list">
										<ul>
											 
											<li><a href="../new-visitors/flooring-services.html">Flooring Services</a>
											</li>
											 
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown mega-dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Vehicle
							Services</a>
						<div class="dropdown-menu mega-dropdown-menu shadow">
							<div class="container">
								<h5 class="footer-title text-dark text-center">Vehicle Services</h5>
								<ul class="row link_with_image list-unstyled justify-content-center text-center">
									<li class="col-md-2">
										<img src="../images/vehicle-services/tow.jpg" alt="" class="img-fluid mb-2" />
										<p><a href="../new-visitors/towing-services.html">Towing Services</a></p>
									</li>
									<li class="col-md-2">
										<img src="../images/vehicle-services/vehicle-repair-shop.jpg" alt=""
											class="img-fluid mb-2" />
										<p><a href="/services/vehicle-repair-services">Vehicle Repair Shops</a></p>
									</li>
								</ul>
								 
							</div>
						</div>
					</li>


					<li class="nav-item dropdown mega-dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Other
							Services</a>
						<div class="dropdown-menu mega-dropdown-menu shadow">
							<div class="container">
								<h5 class="footer-title text-dark text-center">Other Services</h5>
								<ul class="row link_with_image list-unstyled justify-content-center text-center">
									<li class="col-md-2">
										<img src="../images/other-services/eletrical_services.jpg" alt=""
											class="img-fluid mb-2" />
										<p><a href="../new-visitors/electrical-services.html">Electrical Services</a>
										</p>
									</li>
									<li class="col-md-2">
										<img src="../images/other-services/moving_services.jpg" alt=""
											class="img-fluid mb-2" />
										<p><a href="../new-visitors/moving-services.html">Moving Services</a></p>
									</li>
									 
								</ul>
								<hr class="mb-4">
								<h5 class="footer-title text-dark text-center">More in Other Services</h5>
								<ul class="row menu_bottom_links">
									<li class="col-md-2 single_list">
										<ul>
											<li><a href="../new-visitors/appliance-repairs-and-installation.html">Appliance
													Services
											<li><a href="../new-visitors/locksmith-services.html">Locksmith Services</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	
		<!-- Main Header Ends Here -->


	<% include ../partials/flash-messages %>
	<%- body -%>
	<!-- Main Footer Starts Here -->

	<footer class="footer_upper">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="single_part">
						<h3>Number of Registered Companies </h3>
						<ul>
							<li><a href="javascript:void(0)"><%= total.length %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single_part">
						<h3>Mobile App Coming Soon</h3>
						<ul class="mobile_apps_part">
							<li><a href="javascript:void(0)"><img src="images/apple_store.png" class="img-fluid"
										alt="" /></a></li>
							<li><a href="javascript:void(0)"><img src="images/google_play_store.png" class="img-fluid"
										alt="" /></a></li>
						</ul>
					</div>
				</div>
			
			</div>
		</div>
	</footer>

	<footer class="footer_top">
		<div class="container">
		  <div class="upper_part">
			<div class="row">
			  <div class="col-md-6 col-lg-3">
				<div class="single_part">
				  <nav class="navbar navbar-expand-md">
					<div class="container">
					  <a class="footer_nav_togger1 footer_mobile_links" href="#gbzBuildTogether"
						data-toggle="collapse">
						<div class="heading gabazzo_headings">
						  <h3>Gabazzo</h3>
						  <h6>Building Communities Together</h6>
						</div>
					  </a>
					  <div class="collapse navbar-collapse" id="gbzBuildTogether">
						<div class="heading gabazzo_headings heading_for_desktop">
						  <h3>Gabazzo</h3>
						  <h6>Building Communities Together</h6>
						</div>
						<ul class="">
						  						  <li><a href="/about-us">About Us</a></li>
						  <li><a href="/covid-info">Covid-19 Info</a></li>
						  <li><a href="/site-map">Sitemap</a></li>
						  <li><a href="/how-it-works-members">How It Works</a></li>
						  <li><a href="/partnerships">Partnerships</a></li>
						</ul>
					  </div>
					</div>
				  </nav>
				</div>
			  </div>
	
			  <div class="col-md-6 col-lg-3">
				<div class="single_part">
				  <nav class="navbar navbar-expand-md">
					<div class="container">
					  <a class="footer_nav_togger2 footer_mobile_links" href="#customerBar"
						data-toggle="collapse">
						<div class="heading">
						  <h3>Customers</h3>
						</div>
					  </a>
					  <div class="collapse navbar-collapse" id="customerBar">
						<div class="heading heading_for_desktop">
						  <h3>Customers</h3>
						</div>
						<ul class="">
						  <li><a href="/sign-up">Sign Up</a></li>
						</ul>
					  </div>
					</div>
				  </nav>
				</div>
			  </div>
			  <div class="col-md-6 col-lg-3">
				<div class="single_part">
				  <nav class="navbar navbar-expand-md">
					<div class="container">
					  <a class="footer_nav_togger3 footer_mobile_links" href="#serviceCompaniesBar"
						data-toggle="collapse">
						<div class="heading">
						  <h3>Service Companies</h3>
						</div>
					  </a>
					  <div class="collapse navbar-collapse" id="serviceCompaniesBar">
						<div class="heading heading_for_desktop">
						  <h3>Service Companies</h3>
						</div>
						<ul class="">
						  <li><a href="/company-sign-up-home">Sign Up as a Company</a></li>
						</ul>
					  </div>
					</div>
				  </nav>
				</div>
			  </div>
			  <div class="col-md-6 col-lg-3">
				<div class="single_part">
				  <nav class="navbar navbar-expand-md">
					<div class="container">
					  <a class="footer_nav_togger4 footer_mobile_links" href="#supportBar"
						data-toggle="collapse">
						<div class="heading">
						  <h3>Support</h3>
						</div>
					  </a>
					  <div class="collapse navbar-collapse" id="supportBar">
						<div class="heading heading_for_desktop">
						  <h3>Support</h3>
						</div>
						<ul class="">
						  <li><a href="/contact-us">Contact Us</a></li>
						  <li><a href="/safety-buyer">Safety</a></li>
						  <li><a href="/terms-and-conditions">Terms of Use</a></li>
						  <li><a href="/privacy-policy">Privacy Policy</a></li>
						  <li><a href="/cookie-policy">Cookie Policy</a></li>
						</ul>
					  </div>
					</div>
				  </nav>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="bottom_part">
			<div class="row">
			  <div class="col-md-3">
				<div class="single_part footer_logo_part">
				  <div class="footer_logo">
					<a href="/"><img src="images/gabazzo_logo_white.png" class="img-fluid" alt="" /></a>
				  </div>
				  <ul>
					<li>Chicago, IL 60623-1325</li>
					<li>support@gabazzo.com</li>
				  </ul>
				</div>
			  </div>
			  <div class="col-md-5">
				<div class="single_part">
				  <div class="catch_phrase">
					<p>Based in Chicago, Illinois Gabazzo is a platform created for the community in finding
					  trusted and reliable services online. </p>
				  </div>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="single_part">
				  <h2>Stay Connected:</h2>
				  <h5>Subscribe to Gabazzo.com by entering your email below. You'll receive real-time updates
					when we Publish Newsletters, Website/Mobile App Updates, and much more.</h5>
				  <form action="">
					<div class="form">
					  <div class="form-group mb-1">
						<div class="subscribe_section">
						  <input type="email" placeholder="Enter Your Email Here*" required
							class="form-control" />
						  <button type="submit" class="btn btn-info">Subscribe</button>
						</div>
					  </div>
					</div>
				  </form>
				  <div class="stay_connected">
					<div class="social_medis_links">
					  <ul>
						<li><a href="https://www.facebook.com/gabazzoBCT" target="_blank"><i
							  class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/gabazzo/" target="_blank"><i
							  class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="https://twitter.com/gabazzokam" target="_blank"><i
							  class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="https://www.youtube.com/channel/UCKBhvVJYd_HhDHJ3KAnrFLQ?view_as=subscriber"
							target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
						</li>
					  </ul>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </footer>

	<footer class="main_footer">
		<div class="container">
			<p class="mb-0">Copyright:&copy; 2021 Gabazzo. All Rights Reserved. Patent Pending</p>
		</div>
	</footer>
	
		<!-- Main Footer Ends Here -->






	<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
	<script src="js/classie.js" type="text/javascript"></script>
	<script src="js/lightcase.js" type="text/javascript"></script>
	<script src="js/custom.js" type="text/javascript"></script>
	<script type="text/javascript">
	
	
	
		// For Video Popups
		$(document).ready(function () {
			var lightcase = $(".lightcase");
			if (lightcase.length) {
				$('a[data-rel^=lightcase]').lightcase();
			}
		})		
	</script>
</body>

</html>
