/* Default Layout	*/


/*	Extra small devices (portrait phones, less than 576px)	*/
@media (max-width: 575.98px) {
	
	.container{
		max-width:420px;
	}
	
}

/*	Extra small devices (portrait phones, less than 420px)	*/
@media (max-width: 419.98px) {
	
	.container{
		max-width:350px;
	}
	
}

/*	Small devices (landscape phones, 576px and up)	*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
	.container{
		max-width:540px;
	}
	
}

/*	Medium devices (tablets, 768px and up)	*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
	.container{
		max-width:720px;
	}
	
}

/*	Large devices (desktops, 992px and up)	*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
	.container{
		max-width:960px;
	}
	
}

/*	Extra large devices (large desktops, 1200px and up)	*/
@media (min-width: 1200px) {
	
	.container{
		max-width:1140px;
	}
	
}