<% layout('layouts/companySignUpBoilerplate') -%>

<section class="become_seller_steps_bar">
    <div class="container_gbz">
        <div class="row">
            <div class="col-md-9">
                <ul>
                    <li class="completed"><a href="become-a-seller-personal-info.html">Personal Info</a></li>
                    <li class="completed"><a href="become-a-seller-company-info.html">Company Info</a></li>
                    <li class="active"><a href="javascript:void(0)">Linked Accounts</a></li>
                    <li><a href="javascript:void(0)">Account Security</a></li>
                    <li><a href="javascript:void(0)">Complete</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="completion_progressbar">
                    <h6>Completion Rate:</h6>
                    <div class="progressbar profession_info_progress">
                        <div class="progress_fill" style="background:#5DC560; width:60%;">

                        </div>
                        <span>60%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="become_a_seller_form">
    <div class="container">
        <div class="upper_text">
            <h3>Linked Accounts</h3>
            <p>Taking the time to verify and link your accounts can upgrade your credibility and help us provide you
                with more business. Don’t worry, your information is and always will remain private.</p>
        </div>
        <hr />
        <div class="linked_account">
            <div class="single_linked_account">
                <h5>Your Social Presence</h5>
                <p>Private</p>
                <ul>
                    <li class="connected"><span class="linked_media verified"><i class="fa fa-facebook"
                                aria-hidden="true"></i> Facebook</span> <a href="javascript:void(0)">Connected</a>
                    </li>
                </ul>
            </div>

            <hr />
            <br />

            <div class="form_continue_button">
                <a class="btn btn-gbz-success" href="/company-sign-up4">Continue</a>
            </div>
        </div>
    </div>
</section>